In [1]:
from data_loading_utils import load_final_data

In [2]:
final_data, y = load_final_data()
final_data

Applying feature engineering...

c:\Users\midon\Documents\anomaly-detection-autoencoder-based-basic\.venv\Lib\site-packages\pandas\core\internals\blocks.py:395: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

Applying Yeo-Johnson transformations...
Adding boolean features and non_log features...

,DISBURSED_AMOUNT,ASSET_COST,PRI_NO_OF_ACCTS,PRI_ACTIVE_ACCTS,PRI_OVERDUE_ACCTS,PRI_CURRENT_BALANCE,PRI_SANCTIONED_AMOUNT,PRI_DISBURSED_AMOUNT,SEC_NO_OF_ACCTS,SEC_ACTIVE_ACCTS,...,LTV,AGE_DISBURSMENT,IS_SALARIED,LTA,AADHAR_FLAG,PAN_FLAG,VOTERID_FLAG,DRIVING_FLAG,PASSPORT_FLAG,SUM_FLAGS
0,10.831294,10.975090,0.095310,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,89.55,34,1,0.866062,1,0,0,0,0,1
1,10.761007,11.090585,0.741937,0.741937,0.741937,-0.129343,10.823792,10.823792,0.09531,0.09531,...,73.23,33,0,0.719222,1,0,0,0,0,1
2,10.883299,11.024531,0.095310,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,89.63,32,0,0.868286,1,0,0,0,0,1
3,10.959785,11.099137,1.410987,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,88.48,24,0,0.869920,1,0,0,0,0,1
4,10.866263,11.007106,0.095310,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,88.39,40,0,0.868624,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,11.054283,11.565576,1.629241,1.410987,0.095310,0.335849,12.938763,12.938763,0.09531,0.09531,...,60.72,30,1,0.599715,0,0,1,0,0,1
233150,11.207108,11.518918,0.741937,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,74.95,29,0,0.732117,0,0,1,0,0,1
233151,10.418856,11.173432,0.095310,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,48.45,42,1,0.470202,1,0,0,0,0,1
233152,10.441737,11.202140,0.095310,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,49.10,24,1,0.467470,1,0,0,0,0,1
233153,11.235221,11.661433,0.095310,0.095310,0.095310,-0.180462,0.095310,0.095310,0.09531,0.09531,...,66.81,34,1,0.652975,1,0,0,0,0,1